trunk/de.genesez.templates/mapping/de/genesez/mapping/templatemapping.dtd

<?xml version="1.0" encoding="UTF-8" ?>

<!ELEMENT TemplateMapping (Mapping*)>

<!ELEMENT Mapping (Map, ToDefault, ToJava4*, ToJava5*, ToImsys*)>

<!ELEMENT Map (#PCDATA)>

<!ELEMENT ToDefault (#PCDATA)>

<!ELEMENT ToJava4 (#PCDATA)>

<!ELEMENT ToJava5 (#PCDATA)>

<!ELEMENT ToImsys (#PCDATA)>
