trunk/de.genesez.templates/script/de/genesez/typemapping/typemapping.dtd

<?xml version="1.0" encoding="UTF-8" ?>

<!ELEMENT TemplateMapping (Header, Mapping*)>

<!ELEMENT Header (SuperMappingFile)>

<!ELEMENT SuperMappingFile (#PCDATA)>

<!ELEMENT Mapping (Map, DefaultType?, ContextType*)>

<!ELEMENT Map (#PCDATA)>

<!ELEMENT DefaultType (#PCDATA)>

<!ELEMENT ContextType (Context, Type)>

<!ELEMENT Context (#PCDATA)>

<!ELEMENT Type (#PCDATA)>
